<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.841610832624-prbkvi4b9h2t2cn8q58v5eevb8mqcr9n</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>841610832624-prbkvi4b9h2t2cn8q58v5eevb8mqcr9n.apps.googleusercontent.com</string>
	<key>NSCameraUsageDescription</key>
	<string>Please allow this app to use your camera for detection</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow this app to access your photo library for your profile avatar</string>
</dict>
</plist>
